.all{
    background-color: #bdcada;
    font-family: Arial, sans-serif;
    min-height: 100vh; 
    padding: 20px;


}
.Body {
    display: flex;
    flex-direction:row;
    align-items: center;
    justify-content: center;
    padding: 20px;

 }

.container {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    padding: 30px;
    border-radius: 10px;
    border-top-right-radius:0px;
    border-bottom-right-radius:0px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 350px;
    margin-bottom: 20px;
}

.container label {
    margin-bottom: 10px;
    font-size: 1rem;
    color: #333;
    font-weight: bold;
}

.container input {
    margin-bottom: 20px;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    color: #555;
}

.container input[readonly] {
    background-color: #e9e9e9;
    cursor: not-allowed;
}

.photoContainer {
    text-align: center;
    margin-top: 20px;
}

.photoContainer img {
    /* max-width: 450px; */
    height:412px;
    margin-bottom:33px ;
    /* border-radius: 50%; */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-top-right-radius:10px ;
    border-bottom-right-radius:10px ;
 width: 500px;
}
.Body button{
    position: absolute;
    bottom:10%;
    right: 10%;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    background-color: white;
    color: #000;
    font-size: 1rem;
    /* cursor: pointer; */
    transition: background-color 0.3s ease;
}
.officeHours ul{
 list-style-type: none;
}
.officeHours li{
    padding: 20px;
    color: white;
    width: 90%;
 }
.officeHours input{
    font-size: 17px;
    font-weight: 500;
    border-radius: 10px;
    width: 30%;
    border: none;
    padding: 20px;
    padding-left: 25px;
    padding-right: 25px;
 margin: 15px; 
}

@media (max-width: 768px) {
    .container {
        width: 90%;
    }

    .photoContainer img {
        max-width: 120px;
    }
}
